%h2 Editing github_user
= render :partial => "form", :locals => {:github_user => @github_user}
%ul
  %li= link_to 'Show', @github_user
  %li= link_to 'Back', github_users_path
  %li= link_to 'Destroy', @github_user, :confirm => 'Are you sure?', :method => :delete  