#lolwut
  %h2 What is it?
  %p Ruby Enthusiasts in Indianapolis. We meet monthly to talk about cool ruby stuff.
  %p If you are interested in Ruby or Rails, come on down no matter your experience level.
  %p Free pizza at meeting and a free beer at Brockway Pub after meeting.
#lolwh3r
  %h2 When and Where?
  %p We meet the second Wednesday of every month!
  %p 
    nFrame Disaster Recovery Conference Room
    %br
    550 Congressional Blvd.
    %br
    Carmel, IN 46032
  %h3 How to find us
  %p Use the south entrance of the building, room is the first one on the left. If you're having trouble getting in or finding the place, please call Eli @ 317 457 4595.

