- content_for :javascript do
  $(document).ready(function() { getEvent(); });

#content
  #what
    %h2 What is it?
    %p Ruby Enthusiasts in Indianapolis. We meet monthly to talk about cool ruby stuff.
    %p If you are interested in Ruby or Rails, come on down no matter your experience level.
    %p Free pizza at meeting and a free beer at Brockway Pub after meeting.
  #where
    %h2 When and Where?
    %p We meet the second Wednesday of every month!
    %p.address 
      nFrame Disaster Recovery Conference Room
      %br
      550 Congressional Blvd.
      %br
      Carmel, IN 46032

    %h3 How to find us
    %p Use the south entrance of the building, room is the first one on the left. If you're having trouble getting in or finding the place, please call Eli @ 317 457 4595.
  #member_actions
    %h2 What are our users doing?
    %p
      = link_to "Github stuff"
      = link_to "friend feed"
      = link_to "tweeetz"

      
#sidebar
  #next_meeting
    %h2 Next Meeting
    %h3.when Second Wednesday of every month
    %h3
      %a.link RSVP @ Meetup.com
    %div.description
    %div.map
      %a
        %img{:src => "http://maps.google.com/staticmap?center=39.959174,-86.149637&zoom=14&size=512x512&maptype=mobile&markers=39.959174,-86.149637,blues&key=ABQIAAAAiB79SpLrOxrYbOzqaYGrvhQrNhSbWhQbZXKDt0w9V4y2n6CzahTrHTbQjuSGhL4xdTPFH0lRNNe4-A&sensor=false",
             :alt => "Map"}
