#content
  #what
    %h2 What is it?
    %p Ruby Enthusiasts in Indianapolis. We meet monthly to talk about cool ruby stuff.
    %p If you are interested in Ruby or Rails, come on down no matter your experience level.
    %p Free pizza at meeting and a free beer at Brockway Pub after meeting.
  #where
    %h2 When and Where?
    %p We meet the second Wednesday of every month!
    %p 
      nFrame Disaster Recovery Conference Room
      %br
      550 Congressional Blvd.
      %br
      Carmel, IN 46032
    %h3 How to find us
    %p Use the south entrance of the building, room is the first one on the left. If you're having trouble getting in or finding the place, please call Eli @ 317 457 4595.
  #member_actions
    %h2 What are our users doing?
    %p
      = link_to "Github stuff"
      = link_to "friend feed"
      = link_to "tweeetz"

      
#sidebar
  #next_meeting
    %h2 Next Meeting
    %h3 April 14 @ 7PM
    %ul
      %li Continuous Integration w/ Signal by Miles Z. Sterrett
      %li Rails Internals - Active Record Association
      %li Bubble Bobble Tournament
    <iframe width="310" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=550+Congressional+Blvd.,+carmel.+in&amp;sll=37.0625,-95.677068&amp;sspn=63.255964,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=550+Congressional+Blvd,+Carmel,+Hamilton,+Indiana+46032&amp;ll=39.962386,-86.156673&amp;spn=0.019736,0.025749&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=550+Congressional+Blvd.,+carmel.+in&amp;sll=37.0625,-95.677068&amp;sspn=63.255964,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=550+Congressional+Blvd,+Carmel,+Hamilton,+Indiana+46032&amp;ll=39.962386,-86.156673&amp;spn=0.019736,0.025749&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
