- content_tag_for :div, source_commit do
  %ul
    %li
      %strong Url:
      =h source_commit.url
    %li
      %strong Project name:
      =h source_commit.project_name
    %li
      %strong Github User:
      =h source_commit.user.github
    %li
      %strong Message:
      =h source_commit.message
    %li
      %strong Committed date:
      =h source_commit.committed_date
    = link_to 'Show', source_commit
