%h2 Editing source_commit
= render :partial => "form", :locals => {:source_commit => @source_commit}
%ul
  %li= link_to 'Show', @source_commit
  %li= link_to 'Back', source_commits_path
  %li= link_to 'Destroy', @source_commit, :confirm => 'Are you sure?', :method => :delete  