%h2= "SourceCommit \"#{@source_commit.to_param}\""
- content_tag_for :div, @source_commit do
  %ul
    %li
      %strong Url:
      =h @source_commit.url
    %li
      %strong Project name:
      =h @source_commit.project_name
    %li
      %strong User:
      =h @source_commit.user
    %li
      %strong Message:
      =h @source_commit.message
    %li
      %strong Committed date:
      =h @source_commit.committed_date
%ul
  %li= link_to 'Back', source_commits_path
