<% content_for :content do -%>
  <div id="blogs_content">
    <%= yield %>
  </div>    
  <div id="featured_project_sidebar">
    <div id="featured_project">
      <h2>Featured Project</h2>
      <p>Some stuff about some awesome project that is awesome so you should totally check it out now!</p>
    </div>
  </div>
<% end -%>

<%= render :file => 'layouts/application' %>
