<% content_for :content do -%>
  <div id="blogs_content">
    <%= yield %>
  </div>    
  <div id="featured_project_sidebar">
    <div id="featured_project">
      <h2>Featured Project - <%= link_to h(@featured_project.name), @featured_project.url -%></h2>
      <%= simple_format(h(@featured_project.description)) %>
    </div>
  </div>
<% end -%>

<%= render :file => 'layouts/application' %>
